body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.product-list {
  flex: 2; /* Takes 2/3 of the container */
  max-height: 700px; /* Set a fixed height for the scroll view */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #f4f4f9;
}

table img {
  max-width: 60px;
  max-height: 60px;
}

.form-container {
  flex: 1; /* Takes 1/3 of the container */
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-container form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container form button {
  display: block;
  width: 100%;
  background: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container form button:hover {
  background: #45a049;
}

.action-buttons {
  white-space: nowrap;
}

.action-buttons form,
.action-buttons a {
  display: inline;
}

.action-buttons button,
.action-buttons a {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
}

.action-buttons button {
  color: red;
}

.action-buttons a {
  color: blue;
  text-decoration: none;
}
