body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #01497c;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #4f728a;
    color: white;
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    display: flex;
    flex: 1;
}

.left-section {
    width: 20%;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
}

.content-section {
    width: 80%;
    padding: 1em;
}
.btn{
    color:black;
    font-size: larger;
    font-weight: bold;
    width: 100%;
}

